@media screen and (max-width:1040px){
  .slide_banner ul > li:last-child{
    display: none;
  }

  .nav_bar {
    width: 100%;
  }
}

@media screen and (max-width:940px){
  .seoul_nesw-wrap{
    display: block;
  }
  .seoul_mayor{
    width: 100%;
    padding: 0;
  }

  .seoul_news{
    width: 100%;
  }
  .seoul_mayor img {
    width: 90% !important; 
    height: auto !important;
  }
}

@media screen and (max-width:768px){
  .seoul_issue{
    display: block;
  }
  .seoul_video figcaption{
    color: black;
    background-color: white;
    white-space: normal;
    overflow: none;
    width: 55%;
    top: 50%;
    left: 45%;
    bottom: auto;
    transform: translateY(-50%);
  }

  .seoul_video img {
    width: 40%;
  }


  .seoul_small-news > ul > li{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .common_service li {
    width: 50% !important;
  }
  .common_service li a{
    width: 100%;
  }
}

@media screen and (max-width:675px){
  .slide_banner ul > li{
    display: none;
  }

  .slide_banner ul > li:first-child{
    display: block;
  }
}


@media screen and (max-width:480px){
  .seoul_video figcaption{
    font-size: 12px;
    transform: translateY(-50%);
  }

  .footer_inner{
    font-size: 11px;
}

.footer_inner > ul {
  font-size: 11px;
  letter-spacing: -2px;
}